{% extends 'layout.html' %}
{% block body %}


<!-- Page Header-->
<header class="masthead" style="background-image: url(' {{ url_for('static', filename='img/home-bg.jpg') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Amin Panel</h1>
                    <span class="subheading">Manage your posts</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h1>Basic Action</h1>
            <a href="/dashboard"><button class="btn btn-primary">Dashboard Home</button></a>
            <a href="/logout"><button class="btn btn-primary">Log Out</button></a>
            <hr>

            <form method="POST" action="/edit/{{sno}}" id="contactForm" data-sb-form-api-token="API_TOKEN">
                <div class="form-floating">
                    <input value="{{post.title}}" class="form-control" name="title" id="title" type="text" placeholder="Enter your title..."
                        data-sb-validations="required" />
                    <label for="title">Title</label>
                    <div class="invalid-feedback" data-sb-feedback="name:required">A title is required.</div>
                </div>
                <div class="form-floating">
                    <input value="{{post.tline}}" class="form-control" name="tline" id="tline" type="text" placeholder="Enter your tagline..."
                        data-sb-validations="required" />
                    <label for="title">Tagline</label>
                    <div class="invalid-feedback" data-sb-feedback="name:required">A tagline is required.</div>
                </div>

                <div class="form-floating">
                    <input value="{{post.slug}}" class="form-control" name="slug" id="slug" type="text" placeholder="Enter your slug..."
                        data-sb-validations="required" />
                    <label for="title">Slug</label>
                    <div class="invalid-feedback" data-sb-feedback="name:required">A slug is required.</div>
                </div>

                <div class="form-floating">
                    <textarea class="form-control" id="content" name="content" placeholder="Enter your content here..."
                        style="height: 12rem" data-sb-validations="required">{{post.content}} </textarea>
                    <label for="message">Content</label>
                    <div class="invalid-feedback" data-sb-feedback="message:required">A content is required.
                    </div>
                <div class="form-floating">
                    <input value="{{post.img_file}}" class="form-control" name="img_file" id="img_file" type="text" placeholder="Enter your slug..."
                        data-sb-validations="required" />
                    <label for="title">Image File</label>
                    <div class="invalid-feedback" data-sb-feedback="name:required">A image file name is required.</div>
                </div>
                </div>
                <br />
                <!-- Submit success message-->
                <!---->
                <!-- This is what your users will see when the form-->
                <!-- has successfully submitted-->
                <div class="d-none" id="submitSuccessMessage">
                    <div class="text-center mb-3">
                        <div class="fw-bolder">Form submission successful!</div>
                        To activate this form, sign up at
                        <br />
                        <a
                            href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                    </div>
                </div>
                <!-- Submit error message-->
                <!---->
                <!-- This is what your users will see when there is-->
                <!-- an error submitting the form-->
                <div class="d-none" id="submitErrorMessage">
                    <div class="text-center text-danger mb-3">Error submit!</div>
                </div>
                <!-- Submit Button-->
                <button class="btn btn-primary" id="submitButton" type="submit">Submit</button>
            </form>

            </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}